:host{
    margin-right: 10px;

    h2{
        margin-bottom: 5px;
    }

    button{
      width: 150px;
      height: 150px;
      background-color: green;
      font-weight: bold;
      border-radius: 50%;
      margin: 10px 0;

      &:disabled{
        color: darkgrey;
      }
    }
  }